#root {
 
}

.page {
	max-width: 1280px;	
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	margin-top: 2rem;
}

.pageHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

